<!-- Project section -->

<hr>
<div class="row" id="projects">
  <div class="col">
    <h2 class="mb-5">📚projects</h2>
    <p></p>

    <div id="filters-project">
      <!-- HARD-CODED all button (keep this) -->
      <button class="filter-button active" data-filter="*">all</button>

      <!-- Categories from YAML (do NOT include 'all' in YAML) -->
      {% for category in site.data.research.categories %}
        <button class="filter-button" data-filter=".{{ category['data-filter'] }}">
          {{ category['category-name'] }}
        </button>
      {% endfor %}
    </div>

    <p></p>

    <div id="projects-grid" class="isotope">
      {% for project in site.data.research.projects %}
        {% include_relative _libs/research_widget.html %}
      {% endfor %}
    </div>

    <p></p>
  </div>
</div>
