<div class="project {{ project.category | downcase | replace: ' ', '-' }}">
  <div class="row mb-4">
    <div class="col-sm-4">
      <img width="100%" height="auto" src="{{ project.gif }}">
    </div>
    <div class="col-sm-8">
      {% if project.system-name %}<b><i>{{ project.system-name }}</i>:</b>{% endif %}
      <b>{{ project.title }}</b>
      <br>
      {% if project.conference-web %}
        <i><a href="{{ project.conference-web }}" target="_blank" rel="noopener">{{ project.conference }}</a></i>
      {% else %}
        <i>{{ project.conference }}</i>
      {% endif %}
      <br>
      {{ project.authors }}
    </div>
  </div>
</div>
